{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" style="width:700px;
  margin:0 auto;">

    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="2"></li>

        

    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="item active" style="width:700px;">

           <a href ="16/cyberpunk2077/" target="_blank"> <img src="{% static 'app/content/banner1.jpg'%} " alt="Первый слайд" class="img-responsive" /></a>

            

        </div>

        <div class="item" style="width:700px";>

           <a href ="/4/witcher2/" target="_blank"> <img src="{% static 'app/content/banner2.jpg'%}" alt="Второй слайд"  class="img-responsive" /> </a>

          

        </div>

        <div class="item" style="width:700px";>

           <a href ="/1/witcher-3-wild-hunt/" target="_blank"> <img src=" {% static 'app/content/banner3.jpg'%} " alt="Третий слайд"  class="img-responsive" /> </a>

   

        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">

        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

        <span class="sr-only">Предыдущее</span>

    </a>

    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">

        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

        <span class="sr-only">Следующее</span>

    </a>

</div>


<div>
	<h3>О магазине</h3>
	<p>В нашем интернет-магазине вы сможете гарантированно приобрести ключи к играм от Steam, Uplay, Battle.net и прочих популярных игровых платформ. Наш магазин делает все для того, чтобы ваши покупки проходили быстро, с максимальным удобством и безопасностью, а цены оставались максимально доступными.</p>
	<hr></hr>
	</div>

	<h3>Наши преимущества</h3>
	<ul class="homelist">
	<li>Низкие цены (или нет)</li>
	<li>Мгновенные операции</li>
	<li>Широкий выбор</li>
	</ul>
	<br></br>
	<p>Здесь могла быть ваша реклама</p>

{% endblock %}
