{% extends "app/layout.html" %}
{% block content %}
<br />
<h2>Заказы</h2>
    <table>
        <thead><th>Id</th><th>Название игры</th><th>Цена</th>><th>Дата создания</th><th>Количество</th><th>Заказ оплачен</th></thead>
        {% for g  in game_ordered  %}
        
        <tr style="color:red; text-align:center; text-shadow:black 0px 0px 3px;">
            <td>{{ g.order_id }}</td>
            <td>{{ g.game }}</td>
            <td>{{ g.price }}</td>
            <td>{{ g.created }}</td>
            <td>{{ g.quantity }}</td>
            <td>{{ g.paid }}</td>
            <td><a href="{% url 'edit_order' id=g.order_id %}">Настройка статуса заказа</a>
        </tr>
           
        {% endfor %}
        
    </table>
    
{% endblock %}