{% extends "app/layout.html" %}

{% block content %}

    <h2>Список пользователей</h2>
    <table>
        <thead><th>Id</th><th>Никнейм</th><th>Пользователь менеджер</th>></thead>
        {% for user in users_list %}
        <tr style="color:red; text-align:center; text-shadow:black 0px 0px 3px;">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.is_staff }}</td>
            <td><a href="{% url 'edit' id=user.id %}">Настройка менеджера</a> | <a href="{% url 'delete' id=user.id %}">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
    

{% endblock content %}